* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    center/cover no-repeat;
  position: relative;
}

#btnStart button {
  padding: 6px 25px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: #03346e;
  color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
}

#container {
  height: 270px;
  width: 750px;
  background-color: #bed4e5;
  display: none;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  bottom: 41%;
}


#options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

#options p {
  width: 45%;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
  background-color: white;
  cursor: pointer;
  font-weight: 600;
}


#timer{
    position: absolute;
    padding: 0px 9px;
    right: 2%;
    top: 25%;
    font-size: 18px;
    border-radius: 50%;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    align-content: center;
}


div#ques {
  font-size: 24px;
  font-weight: 600;
  padding-top: 1rem;
}

/* h2 {
  padding-top: 2rem;
  color: red;
} */
